body {
  font-family: "Roboto", sans-serif;
  padding-top: 20px;
  background-color: #ffffff;
}

a.code {
  color: #007bff;
  text-decoration: none;
}

.main-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.main {
  padding: 40px;
  border: 1px solid #bebebe;
  border-radius: 8px;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%), 0 0 0 1px rgb(0 0 0 / 8%);
}

.btn.btn-primary {
  padding: 8px 24px;
  background: #e94113;
  border: none;
  color: #ffffff;
}

.btn.btn-primary:hover {
  cursor: pointer;
  background: #cc360d;
}

.row.head {
  padding-top: 60px;
}

.heading {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0;
  color: gray;
  padding-top: 10px;
}

.heading-s {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0;
  color: gray;
}

.float-left {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
}

.description {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0;
  color: gray;
  text-align: center;
}

.row.head .col-sm-3 {
  padding-right: 0;
  padding-left: 0;
}

.city {
  font-weight: 600;
  font-size: 32px;
}

.temperature {
  font-weight: 600;
  font-size: 48px;
  padding-top: 12px;
}

.units {
  position: relative;
  top: -24px;
  font-weight: 600;
  font-size: 16px;
}
.units .active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.units .active:hover {
  text-decoration: none;
}

#celsius-link {
  text-decoration: none;
}

#fahrenheit-link {
  text-decoration: none;
}

.row.other-days {
  text-align: center;
  font-size: 16px;
  padding-top: 40px;
}

.degree {
  padding-top: 10px;
  font-size: 18px;
  font-weight: 500;
  color: #e94113;
}

.link-code {
  font-size: 80%;
  font-weight: 400;
  margin-top: 10px;
}
